@using MvcBreadCrumbs
@{
    ViewBag.Title = "Compost In Apartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- display logic for the apartment category of composting page-->
<style>
    .composting-detail-section {
        margin-top: 65px;
    }

    .composting-columns {
        padding-right: 10%;
        padding-left: 10%;
    }

    .compost-image-wrapper {
        text-align: center;
    }

    .compost-property-column {
        padding-right: 5%;
        padding-left: 5%;
    }

    .herb-heading {
        text-align: center;
    }

    .compost-property {
        padding-right: 0px;
        text-align: center;
    }

    .compost-collapse-columns {
        padding-right: 10%;
        padding-left: 10%;
    }

    .compost-collapse-heading-column {
        margin-top: 21px;
    }

    .heading-7 {
        margin-top: 10px;
        text-align: left;
        cursor: pointer;
    }

    .column-9 {
        text-align: center;
    }

    .column-8 {
        text-align: center;
    }

    .column-12 {
        border-left: 1px solid #000;
        text-align: center;
    }

    .accordion-item-content {
        width: auto;
    }
</style>

<body>
    <div class="page-title-section">
        <div class="container">
            <h1 class="page-title">Compost in Apartment</h1>
        </div>
    </div>

    <div class="breadcrum" style="margin-left:10%">
        @Html.Raw(BreadCrumb.Display())
    </div>

    <!-- logic for the view displaying all the info related to the related category-->

    <div class="composting-detail-section">
        <div class="composting-columns w-row">
            <div class="w-col w-col-4 w-col-stack">
                <div class="compost-image-wrapper">
                    <img src="~/Images/apartment_bin.png" alt="apartment_bin">
                </div>
            </div>
            <div class="compost-property-column w-col w-col-8 w-col-stack">
                <p class="herb-description" style="text-align:justify">
                    <strong>Yes! Composting is doable even in apartment too. Vermicomposting is one of the worm bin indoor composting methods.  It is important to keep the nitrogen and carbon ratio right for those little creatures. Check out more in what can and cannot be put into the vermicomposting box and the buying guides.  </strong>
                </p>
                <div class="w-row">
                    <div class="compost-property w-col w-col-4 w-col-stack">
                        <h4>Compost Type</h4>
                        <div class="herb-property">
                            <img src="~/Images/composting_type.jpg" width="100" height="100" alt="composting_type">
                            <p> Vermicomposting</p>

                        </div>
                    </div>
                    <div class="column-8 w-col w-col-4 w-col-stack">
                        <div class="herb-property">
                            <h4>Waste Type</h4><img src="~/Images/waste_type.png" width="100" height="100" alt="waste_type">
                            <p>Kitchen scraps</p>
                        </div>
                    </div>
                    <div class="column-9 w-col w-col-4 w-col-stack">
                        <div class="herb-property">
                            <h4>Purchase</h4><img src="~/Images/shopping.png" width="100" height="100" alt="shopping">
                            <div><a href="https://www.bunnings.com.au/maze-worm-farm-with-worms-wooden-legs-blanket_p0137791?gclid=EAIaIQobChMI9Pe_soS46QIVBnZgCh3XYA2OEAQYASABEgLvp_D_BwE&gclsrc=aw.ds" target="_blank" class="herb-shopping-btn w-button">Click to buy</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="herb-step-section" style="padding-top:2%;">
        <div class="compost-collapse-columns w-row">
            <div class="w-col w-col-6">
                <div class="herb-collapse-container w-container">
                    <div class="accordion-wrapper">
                        <div class="accordion-item">
                            <div class="accordion-item-trigger">
                                <div class="w-row">
                                    <div class="w-col w-col-3"><img src="~/Images/do.jpg" width="80" height="80" alt="" class="image-3"></div>
                                    <div class="compost-collapse-heading-column w-col w-col-9">
                                        <h4 class="heading-7">What to compost                +</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item-content">
                                <p style="padding-top: 5%;line-height:1.6;">
                                    •	Fruits and vegetables<br><br>
                                    •	Eggshells<br><br>
                                    •	Coffee grounds and filters<br><br>
                                    •	Tea bags<br><br>
                                    •	Nut shells<br><br>
                                    •	Houseplants<br><br>
                                    •	Leaves<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-12 w-col w-col-6">
                <div class="herb-collapse-container w-container">
                    <div class="accordion-wrapper">
                        <div class="accordion-item">
                            <div class="accordion-item-trigger">
                                <div class="w-row">
                                    <div class="w-col w-col-3"><img src="~/Images/donot.jpg" width="80" height="80" alt=""></div>
                                    <div class="compost-collapse-heading-column w-col w-col-9">
                                        <h4 class="heading-7">What not to compost                +</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item-content">
                                <p style="text-align:left; padding-top: 5%; line-height:1.6;">
                                    •	Dairy,yoghurt, cheese, milks<br><br>
                                    •	Bread, rice, pasta, processed foods<br> 
                                    - you can add the odd crust or bits of cooked rice off the dinner plate, but don't add lots of starchy foods. Worms don't like them and they may go off or attract pests.<br><br>
                                    •	Animal products <br>
                                    - bones, meat, fish, shellfish<br><br>
                                    •	Acidic foods<br>
                                    - citrus, pineapple, garlic and onions.<br><br>
                                    •	Spicy foods <br>
                                    - worms are plain eaters, and don’t like spicy food such as chillies, chives, curries etc.<br><br>
                                    •	Oils <br>
                                    - won't be processed by the worms so may cause smells or an unfriendly environment<br><br>
                                    •	Chemicals <br>
                                    - avoid any materials contaminated with toxic chemicals, such as sawdust from treated wood, paper towel used with cleaning sprays, disinfectant wipes etc.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>