@{
    ViewBag.Title = "Food";
}
<link href="~/Styles/HomePage.css" rel="stylesheet" />
<div class="container">

    <img src="~/Images/title2.jpg" height="400" width="1100">
</div>

<div class="container body-content">
    <div class="section">

        <div class="columns">

            <div>
                <h1>Leftover Recipes</h1>
                <br />
                <div>
                    <p>
                        Have a go at these recipes. Easy to make, less waste, and possibly a new family favourite waiting to
                        be discovered!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="container body-content">

    <div class="container body-content">

        <h3>
            Recipe collections
        </h3>

        <div class="container body-content">

            <div class="column flexible-tile__column is-one-third">

                <a href="Breakfast" class="flexible-tile__column-wrap">

                    <div>
                        <img src="~/Images/breakfastfin.jpg" />



                    </div>
                    <div class="flexible-tile__content">
                        <h3 class="flexible-tile__title">
                            Breakfast recipes
                        </h3>
                        <div class="button flexible-tile__button">Find out more</div>
                    </div>
                </a>


            </div>

            <div class="column flexible-tile__column is-one-third">

                <a href="Lunch" class="flexible-tile__column-wrap">

                    <div>
                        <img src="~/Images/lunchfin.jpg" />
                    </div>
                    <div class="flexible-tile__content">
                        <h3 class="flexible-tile__title">
                            Lunch recipes
                        </h3>
                        <div class="button flexible-tile__button">Find out more</div>
                    </div>
                </a>

            </div>
            <div class="column flexible-tile__column is-one-third">

                <a href="Dinner" class="flexible-tile__column-wrap">

                    <div>

                        <img src="~/Images/dinnerfin.jpg" />
                    </div>
                    <div class="flexible-tile__content">
                        <h3 class="flexible-tile__title">
                            Dinner recipes
                        </h3>
                        <div class="button flexible-tile__button">Find out more</div>
                    </div>
                </a>

            </div>
            <div class="column flexible-tile__column is-one-third">

                <a href="Dessert" class="flexible-tile__column-wrap">

                    <div>

                        <img src="~/Images/dessertfin.jpg" />
                    </div>
                    <div class="flexible-tile__content">
                        <h3 class="flexible-tile__title">
                            Dessert recipes
                        </h3>
                        <div class="button flexible-tile__button">Find out more</div>
                    </div>
                </a>

            </div>

        </div>
    </div>
</section>

