@{
    ViewBag.Title = "Home Page";
}

<!-- this is the logic to place all the elements on our home page like search bar, navigation bar, the hero section and the flipping tiles-->

<div class="hero-section">
    <div class="container">
        <div class="columns w-row">
            <div class="w-col w-col-6">
                <div class="hero-wrapper">
                    <h2 style="color: white;">Live a sustainable lifestyle in your HOUSEHOLD</h2>
                    <div class="hero-button-wrapper" style="margin-top: 30px;">
                        <a href="@Url.Action("Quiz","Home")" class="btn light outline w-button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="support-section">
    <div class="container">
        <div class="support-wrapper" style="text-align:center;">
            <div class="support-column">
                <p style="text-align:justify;"><strong>Switch to our recommended energy-efficient products</strong></p>
                <img src="~/Images/down-arrow.png" style="width: 40px;" />
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="support-square">
                                <div class="support-square-text">Save <br>energy</div><img src="~/Images/Circle.svg" alt="Circle Decoration in Shop Products Block" class="support-square-image">
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="support-square">
                                <div class="support-square-text">
                                    <a href="@Url.Action("AppliancesType", "Home")">
                                        <img src="~/Images/SaveEnergy.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="support-column" style="text-align:center;">
                <p style="text-align: justify;"><strong>Reduce your food waste from growing your own herbs and making left-over recipes</strong></p>
                <img src="~/Images/down-arrow.png" style="width: 40px;" />
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="support-square">
                                <div class="support-square-text">Reduce waste</div><img src="~/Images/Triangle.svg" alt="Triangle Decoration in Donate Block" class="support-square-image triangle">
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="support-square">
                                <a href="@Url.Action("ReduceFoodWaste", "Home")">
                                    <img src="~/Images/FoodWaste.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="support-column" style="text-align:center;">
                <p style="text-align:justify;"><strong>Find out where you can recycle your appliances and how to compost your wastes</strong></p>
                <img src="~/Images/down-arrow.png" style="width: 40px;" />
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="support-square">
                                <div class="support-square-text">Reuse</div><img src="~/Images/Rectangle.svg" alt="Rectangle Decoration in Buy Gift Cards Block" class="support-square-image rectangle">
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="support-square">
                                <a href="@Url.Action("Composting", "Home")">
                                    <img src="~/Images/reuse.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

