@using MvcBreadCrumbs
@{
    ViewBag.Title = "Quiz";
}

<style>
    .quiz-card-container {
        text-align: center;
        margin-bottom: 3%;
    }

    .quiz-card-column {
        padding-top: 3%;
    }

    .image-4 {
        max-width: 100%;
        border-radius: 20px;
        filter: brightness(0.6);
    }

    .quiz-start-btn {
        position: absolute;
        left: 50%;
        top: 70%;
        width: 120px;
        margin-left: -60px;
        border: 1px solid #f9f9f9;
        border-radius: 16px;
        background-color: transparent;
        font-weight:800;
    }

        .quiz-start-btn:hover {
            border-color: #f9f9f9;
            background-color: #f9f9f9;
            color: #222;
        }

</style>

    <body>
        <div class="page-title-section">
            <div class="container">
                <h1 class="page-title">Quiz</h1>
            </div>
        </div>
        <div class="breadcrum" style="margin-left:10%">
            @Html.Raw(BreadCrumb.Display())
        </div>

        <div class="content-section" style="padding-top: 35px; padding-bottom:1%;">
            <h2 class="heading-5" style="margin: 10px 120px;">Choose a type of quiz and we will lead you to a sustainable lifestyle.</h2>
        </div>
        <div>
            <div class="quiz-card-container w-container">
                <div class="w-row">
                    <div class="quiz-card-column w-col w-col-4">
                        <h3 style="text-align:center;"><strong>Save Energy</strong></h3>
                        <img src="~/Images/down-arrow.png" style="width: 40px;" />
                        <div>
                            <img src="~/Images/energy.png" alt="energy_quiz" class="image-4">
                            <a href="@Url.Action("EnergyQuiz", "Home")" class="quiz-start-btn w-button">Start Quiz</a>
                        </div>
                    </div>
                    <div class="quiz-card-column w-col w-col-4">
                        <h3 style="text-align:center;"><strong>Reduce Waste</strong></h3>
                        <img src="~/Images/down-arrow.png" style="width: 40px;" />
                        <div>
                            <img src="~/Images/reduce.png" alt="reduce_quiz" class="image-4">
                            <a href="@Url.Action("ReduceWasteQuiz", "Home")" class="quiz-start-btn w-button">Start Quiz</a>
                        </div>
                    </div>
                    <div class="quiz-card-column w-col w-col-4">
                        <h3 style="text-align:center;"><strong>Reuse</strong></h3>
                        <img src="~/Images/down-arrow.png" style="width: 40px;" />
                        <div>
                            <img src="~/Images/reuse_quiz.png" alt="reuse_quiz" class="image-4">
                            <a href="@Url.Action("ReuseQuiz", "Home")" class="quiz-start-btn w-button">Start Quiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>