
@{
    ViewBag.Title = "ReduceFoodWaste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Styles/HomeIndex.css" rel="stylesheet" />
<link href="~/Styles/HomePage.css" rel="stylesheet" />
<div class="container">

    <img src="~/Images/title3.png" height="400" width="1100">
</div>

<div class="container body-content">
    <div class="section">

        <div class="columns">
            <h1>Reduce Food Waste</h1>
            <br />
            <div>
                <p>
                    If you are ready to reduce food water, below are some great ideas provided by us to get you started!!!!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container body-content">
    <h3>
        Get Started! It's Easy!
    </h3>

    <div class="container body-content">

        <div class="row">
            <div class="column" style="margin-right:120px">

                <div class="card" style="padding:0px">
                    <img src="~/Images/leftoverfood.jpg" style="width:100%;    filter: brightness(50%);" />
                    <button onclick="location.href='@Url.Action("LeftoverRecipe", "Home")'" type="button" class="slideButton" style="top: 140px;left: 154px;width: 260px;font-size:20px;">
                        Left-Over Food Recipes
                    </button>
                </div>
            </div>

            <div class="column" style="margin-right:120px">
                <div class="card" style="padding:0px">
                    <img src="~/Images/compost.png" style="width:100%;    filter: brightness(50%);" />
                    <button onclick="location.href='#'" type="button" class="slideButton" style="top: 140px;left: 562px;width: 260px;font-size:20px;">
                        Composting Guide
                    </button>
                </div>
            </div>

            <div class="column">
                <div class="card" style="padding:0px;">
                    <img src="~/Images/herbs.png" style="width:100%;    filter: brightness(50%);" />
                    <button onclick="location.href='#'" type="button" class="slideButton" style="top: 140px;left: 970px;width: 260px;font-size:20px;">
                        Grow Your Own Herbs
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>








