
@{
    ViewBag.Title = "ReduceFoodWaste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Styles/HomePage.css" rel="stylesheet" />
<div class="container">

    <img src="~/Images/title3.png" height="400" width="1100">
</div>

<div class="container body-content">
    <div class="section">

        <div class="columns">
                <h1>Reduce Food Waste</h1>
                <br />
                <div>
                    <p>
                        If you are ready to reduce food water, below are some great ideas provided by us to get you started!!!!
                    </p>
                </div>      
        </div>
    </div>
</div>

<div class="container body-content">
    <h3>
        Get Started! It's Easy!
    </h3>

    <div class="container body-content">

        <div class="row">
            <div class="column" style="margin-right:120px">

                <div class="card">
                    <img src="~/Images/leftoverfood.jpg" style="width:100%" />
                    <h5>Left-Over Food Recipes</h5>
                    <a href="@Url.Action("LeftoverRecipe", "Home")" class="btn btn-primary stretched-link">Try Now!</a>

                </div>
            </div>

            <div class="column" style="margin-right:120px">
                <div class="card">
                    <img src="~/Images/compost.png" style="width:100%" />
                    <h5>Composting Guide</h5>
                    <a href="#" class="btn btn-primary stretched-link">Try Now!</a>

                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="~/Images/herbs.png" style="width:100%" />
                    <h5>Grow Your Own Herbs</h5>
                    <a href="#" class="btn btn-primary stretched-link">Try Now!</a>

                </div>
            </div>
        </div>
    </div>
</div>








