@using MvcBreadCrumbs
@{
    ViewBag.Title = "Reuse Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .quiz-card-container {
        text-align: center;
        margin-bottom: 3%;
    }

    .quiz-card-column1 {
        padding-top: 3%;
        position: fixed;
        top: 250px;
        left: 1%;
        text-align: center;
    }

    .quiz-card-column2 {
        padding-top: 3%;
        position: fixed;
        top: 250px;
        right: 1%;
        text-align: center;
    }

    .image-4 {
        max-width: 40%;
        border-radius: 20px;
        filter: brightness(0.6);
    }

    .quiz-start-btn {
        position: absolute;
        left: 50%;
        top: 80%;
        font-size: 12px;
        width: 100px;
        margin-left: -50px;
        border: 1px solid #f9f9f9;
        border-radius: 16px;
        background-color: transparent;
        font-weight: 800;
    }

        .quiz-start-btn:hover {
            border-color: #f9f9f9;
            background-color: #f9f9f9;
            color: #222;
        }
</style>

<!-- this is the display page for the reuse quiz which was embedded using an api called interactive and desgined our quiz in it-->

<div class="page-title-section">
    <div class="container">
        <h1 class="page-title">Reuse Quiz</h1>
    </div>
</div>
<div class="breadcrum" style="margin-left:10%">
    @Html.Raw(BreadCrumb.Display())
</div>

<div class="section">
    <div class="container" style="text-align:center;">
        <iframe id="interactApp5ebea87dcfe15c0014b0ec0b" width="800" height="800" style="border:none;max-width:100%;margin:0;" allowTransparency="true" frameborder="0" src="https://quiz.tryinteract.com/#/5ebea87dcfe15c0014b0ec0b/q/1?method=iframe"></iframe>
    </div>
</div>

<div class="quiz-card-column1">
    <h3 style="text-align:center;"><strong>Reduce Waste</strong></h3>
    <img src="~/Images/down-arrow.png" style="width: 40px;" />
    <div>
        <img src="~/Images/reduce.png" alt="reduce_quiz" class="image-4">
        <a href="@Url.Action("ReduceWasteQuiz", "Home")" class="quiz-start-btn w-button">Start Quiz</a>
    </div>
</div>>

<div class="quiz-card-column2">
    <h3 style="text-align:center;"><strong>Save Energy</strong></h3>
    <img src="~/Images/down-arrow.png" style="width: 40px;" />
    <div>
        <img src="~/Images/energy.png" alt="energy_quiz" class="image-4">
        <a href="@Url.Action("EnergyQuiz", "Home")" class="quiz-start-btn w-button">Start Quiz</a>
    </div>
</div>