@using MvcBreadCrumbs
@{
    ViewBag.Title = "Reuse Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- this is the display page for the reuse quiz which was embedded using an api called interactive and desgined our quiz in it-->

<div class="page-title-section">
    <div class="container">
        <h1 class="page-title">Reuse Quiz</h1>
    </div>
</div>
<div class="breadcrum" style="margin-left:10%">
    @Html.Raw(BreadCrumb.Display())
</div>

<div class="section">
    <div class="container">
        <div id="interact-5ebea87dcfe15c0014b0ec0b"></div>
        <script type="text/javascript">var app_5ebea87dcfe15c0014b0ec0b; (function (d, t) { var s = d.createElement(t), options = { "appId": "5ebea87dcfe15c0014b0ec0b", "aspect_ratio": "80%", "async": true, "host": "quiz.tryinteract.com", "no_cover": true, "footer": "show" }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { app_5ebea87dcfe15c0014b0ec0b = new InteractApp(); app_5ebea87dcfe15c0014b0ec0b.initialize(options); app_5ebea87dcfe15c0014b0ec0b.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
    </div>
</div>