.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-color: #9bcd4f;
    border-style: double;
}

 .pagecount {
        padding: 0;
        margin: 0;
    }

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #9bcd4f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card button:hover {
        opacity: 0.7;
    }
    p {
        margin:0 0 0px;
    }
   
    .recipeSearchBar {
        max-width:500px;
        height:26px;
    }

