.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: aliceblue;
    border-radius: 4px;
    font-size: 14px;
}

    .breadcrumb > li {
        display: inline-block;
        margin-bottom: 0px;
    }

        .breadcrumb > li + li:before {
            padding: 0 5px;
            color: #ccc;
            content: "/\00a0";
        }

    .breadcrumb > .active {
        color: #777777;
    }
