
/*.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
}

.name {
    text-align: center;
    color: #9cbd4f;
    font-family: Times;
    font-size: 300%;
    padding-bottom: 10px;
}

.navbar-inverse {
    width: 100%;
    background-color: white;
    overflow: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

    .navbar-inverse .navbar-nav > li > a {
        float: left;
        padding: 30px;
        color: #9cbd4f;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            background-color: #9cbd4f;
            color: white;
        }*/

img.logo {

    display: inline-block;
    width: 30px;
    height: 30px;
    float:left;

}

.name {
    text-align: center;
    color: #9cbd4f;
    font-family: Times;
    font-size: 300%;
    padding-bottom: 10px;
}
body {
    margin: 0;
    font-family: Arial
}

.topnav {
    overflow: hidden;
    background-color: white;
    height: 100px;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

    .topnav a {
        float: left;
        display: block;
        padding: 30px;
        color: #9cbd4f;
        background-color: white;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        width: 250px;
        font-weight: bold;
    }

a.active {
    background-color: #9cbd4f;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    position: initial;
    width: 250px;
}

    .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: #9cbd4f;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        width: 250px;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: #9cbd4f;
        padding: 30px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #9cbd4f;
    color: white;
}

.dropdown-content a:hover {
    background-color: #9cbd4f;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

        .topnav.responsive .dropdown {
            float: none;
        }

        .topnav.responsive .dropdown-content {
            position: relative;
        }

        .topnav.responsive .dropdown .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }
}


