
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
}

.name {
    text-align: center;
    color: #9cbd4f;
    font-family: Times;
    font-size: 300%;
    padding-bottom: 10px;
}

.navbar-inverse {
    width: 100%;
    background-color: white;
    overflow: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

    .navbar-inverse .navbar-nav > li > a {
        float: left;
        padding: 30px;
        color: #9cbd4f;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            background-color: #9cbd4f;
            color: white;
        }
